<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="container">
            <%- body %>
        </div>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/DeleteABook">Delete book</a></li>
            <li><a href="/addNewBook">Add book</a></li>  
        </ul>
        <script src="/js/home.js"></script>
    </body>
</html>